* {
    margin: 0;
    padding: 0;
}


.top-bar {
    overflow: hidden;
    width: 100%;
    background-image: url(04.png);
    height: 660px;
    background-size: cover;
    background-position: 0 -100px;
}
.container{
    width: 90%;
    margin: auto;
}
.top-bar h1 {
    font-family: stikaheading;
    margin-left: 45px;
    font-size: 38px;
    padding-top: 25px;
    padding-bottom: 12px;
    float: left;
    color: #241E1A;
}
.top-bar h2 {
    padding-top: 250px;
    font-family: stikaheading;
    font-size: 45px;
    text-align: center
}
.top-bar p {
    margin-top: 15px;
}
.top-bar ul li {
    display: inline-block;
    float: right;
    padding-top: 37px;
    margin-left: 24px;
    font-size: 20px;
    
}
.top-bar::after {
  content: "";
  clear: both;
  display: table;
}
.top-bar ul li a {
    text-decoration: none;
    font-family: stikaheading;
    color: #241E1A;
}
.top-bar ul li a:hover{
    color: azure;
}

.box-login input {
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.1);
    padding: 18px;
    width: 700px;
    height: 15px;
    box-shadow: 0 2px 15px 1px #6B6259;
    border-radius: 35px;
}

.box-login h2 {
    margin-top: -5px;
    float: right;
    font-size: 23;
    color: cyan;
}
