*{
    margin: 0;
    padding: 0;
}
.container{
    width:75% ;
    overflow: hidden;
    margin: auto;
}
.header{
    background: black;
    width: 100%;
    height: 40%;
}
.header .logo{
    color: coral;
    float: left;
    letter-spacing: 2px;
    font-family: stikaheading;
    font-size: 25px;
    padding: 30px;
}
.header ul li  {
    float: right;
    display: block;
    margin-left: 20px;
    padding-top: 32px;
    

}

.header ul li  a{
    color: coral;
    border-radius: 3px;
    font-family: stikaheading;
    font-size: 20px;
}

.header ul li a:hover{
    color: cornsilk;
}